body {
    background-color: rgb(201, 236, 103);
  }
  h1 {
    color: rgb(170, 91, 223);
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    color: rgb(136, 64, 196);
  }
  #estilo{
    font-style: italic;
  }